@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.Title {
  font-family: Pretendard;
  text-align: center;
  font-weight: 800;
  font-size: 8em;
  margin-top: 1em;
}

.InputTodo {
  display: inline-block !important;
  width: 30em !important;
  height: 3em;
  margin-right: 10px;
}

.AddBtn {
  height: 3em;
  width: 3em;
  transform: translateY(-2px);
}

.CheckBox {
  display: inline-block !important;
  text-align: left;
  width: 33em !important;
  padding: 1em;
}

.FixedWidth {
  width: 35em !important;
  margin: auto;
}

.TopBlank {
  margin-top: 1em;
}

.FooterName {
  display: inline;
  float: left;
  text-align: left;
  margin-left : 2em;
  color: #909090;
}

.FooterSocial {
  display: inline;
  float: right;
  margin-right : 2em;
}

.FooterSocialIcon {
  margin-right : 0.5em;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s; /* 스타일이 변경될 때 0.5초에 걸쳐서 변화 */
}

.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*체크를 안 했을 때*/
label::before{
display: inline-block;
  content:"";
  width: 체크박스 크기;
  height: 체크박스 크기;
  margin-right:label과의 여백;
  background-image:url("./img/checkFalse.png");
}

/*체크했을 때*/
input:checked+labl::before{
background-image:url("./img/checkTrue.png");
}

/*체크박스 선택한 상태일 때 테두리 생김*/
input:focus+.labl::before{
  outline:2px solid #000;
}

/***********************/

.Link {
  color: #909090 !important;
}

.ActiveLink {
  color: #000000 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
